html {
  scroll-behavior: smooth;
}

.navbar{
  position:fixed;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-link {
  margin-right: 15px;
  font-weight: 500;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #ffc107 !important;
}

/* Add this in your port.css */
.home {
  min-height: 100vh;
  background: linear-gradient(135deg, #2b5876, #4e4376);
  color: white;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.home .container-fluid {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 100px 30px;
}
.skill-card:hover, .card:hover {
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

.img-fluid{
    width: 250px;
    height:100%;
    margin-right: 0%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.home,.education,.skills-section,.projects{
  height:200%;
  padding:30px;
}
.name{
  color: #007BFF;
}
.row{
  margin-top:10%;
  margin-left:40%;
}
.btn {
  background-color: white;
  border: 2px solid #007BFF;
  color: #007BFF;
  font-weight: bold;
  transition: all 0.3s ease;
}

.custom-hover:hover{
  border:2px solid #007BFF !important ; 
  background:black !important;
  color :#007BFF !important;
}
.img-hover {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}
.img-hover:hover{
  border:2px solid #007BFF !important ; 
  background:black !important;
  color :#007BFF !important;
  transform:scale(1.05);
}
.heading{
  margin-top:30px;
  margin-bottom:10px;
}
.skills{
  border:2px solid black;
}
/*skills section*/
.skills-section {
  padding: 50px 20px;
  background: #f9f9f9;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #007BFF;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  justify-items: center;
}

.skill-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 180px;
  text-align: center;
  transition: all 0.3s ease;
}

.skill-card i {
  font-size: 3rem;
  color: #007BFF;
  margin-bottom: 10px;
  animation: bounce 2s infinite;
}

.skill-card h3 {
  font-size: 1.2rem;
  color: #333;
}

.skill-card:hover,.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  border:2px solid #007BFF;

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  75%{
    transform:rotate(180deg);
  }
}

/* Projects section*/
.card{
  border-radius:20px;
}
.card-img-top{
  height:120px;
}
.projects{
  color:black;
}
